@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.page-header__logo, .page-footer__logo {
  font-family: Raleway, sans-serif;
  color: #2196f3;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  outline: none;
}

.page-header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hero__button, .modal__button, .page-footer__subbutton {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.examples__title, .team__title, .clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-top: 0;
}

.team__name, .team__text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  text-align: center;
}

.page-footer__location, .page-footer__mail, .page-footer__tel {
  font-size: 14px;
  line-height: 1.71;
}

.page-footer__join, .page-footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #212121;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Хэдер */
.page-header {
  border-bottom: 1px solid #ececec;
  margin-right: auto;
  margin-left: auto;
  /* Хэдер контакты */
}

.page-header__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .page-header__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header__logo {
  display: block;
  font-family: Raleway, sans-serif;
  color: #2196f3;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header__accent {
  color: #212121;
}

.page-header__tablet-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header__tablet-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 88px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__tablet-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 93px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header__tablet-desktop.is-open {
  display: block;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.page-header__item + .page-header__item {
  margin-left: 50px;
}

.page-header__item-contact:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .page-header__item-contact:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__item-contact + .page-header__item-contact {
    margin-left: 50px;
  }
}

.page-header__item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.page-header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* Другий варіант */
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.page-header__link:hover, .page-header__link:focus {
  color: #2196f3;
  outline: none;
}

.page-header__link--current {
  color: #2196f3;
}

.page-header__link--current::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .page-header__link--current::after {
    bottom: -1.1px;
  }
}

.page-header__contacts {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .page-header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.page-header__mailicon {
  width: 14px;
  height: 10px;
  margin-right: 6px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .page-header__mailicon {
    width: 16px;
    height: 12px;
    margin-right: 8px;
  }
}

.page-header__mail, .page-header__tel {
  display: block;
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  outline: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .page-header__mail, .page-header__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.page-header__tel {
  min-width: 123px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .page-header__tel {
    margin-bottom: 0;
  }
}

.page-header__mail {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .page-header__mail {
    margin-top: 0;
  }
}

.page-header__telicon {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .page-header__telicon {
    height: 16px;
    margin-right: 10px;
  }
}

.page-header__mail:hover, .page-header__mail:focus, .page-header__tel:hover, .page-header__tel:focus {
  color: #2196f3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.hero {
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background_image_mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_image_mobile.jpg);
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 198px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../images/background_image_mobile2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background_image_tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_image_tablet.jpg);
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../images/background_image_tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background: #2f303a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background_image.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_image.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../images/background_image@2x.jpg");
  }
}

.hero__title {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  background: #2196f3;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 200px;
  height: 50px;
  padding: 10px 32px 10px 32px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  border: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__btnclose {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btnclose:hover, .modal__btnclose:focus {
  fill: #2196f3;
}

.modal__form {
  margin: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 12px 0;
}

.modal__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  margin-left: 0;
  padding: 0;
}

.modal__comment {
  margin-bottom: 20px;
}

.modal__agreement {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.modal__agreement input[type='checkbox'] {
  margin-right: 7px;
}

.modal__label {
  position: relative;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal__condition {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__icon {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
  fill: #ffffff;
  border: 2px solid black;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .modal__icon {
    position: relative;
  }
}

.modal__checkbox:checked + .modal__icon {
  fill: #2196f3;
  border: 0;
  border-radius: 2px;
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__input {
  height: 40px;
  padding-left: 42px;
  margin: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  height: 120px;
  padding: 12px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__svg {
  position: absolute;
  top: 65%;
  margin-left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__input:hover, .modal__textarea:hover, .modal__input:focus, .modal__textarea:focus {
  border-color: #2196f3;
}

.modal__input:hover ~ .modal__svg,
.modal__input:focus ~ .modal__svg {
  fill: #2196f3;
}

.modal__text {
  margin-left: 16px;
}

@media screen and (min-width: 1200px) {
  .modal__text {
    margin-left: 0;
  }
}

.modal__text--accent {
  margin-left: 5px;
  color: #2196f3;
}

.modal__button {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  cursor: pointer;
  outline: none;
  border: 0;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  background: #188ce8;
}

.features {
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.features__item {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(-n + 2) {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item:nth-child(-n + 2) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(odd) {
    margin-right: 30px;
  }
}

.features__bgc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  max-height: 120px;
  background-color: #f5f4fa;
}

.features__icon {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.features__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.examples {
  display: none;
}

@media screen and (min-width: 1200px) {
  .examples {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}

.examples__title {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.examples__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.examples__item {
  display: block;
  position: relative;
}

.examples__item:not(:last-child) {
  margin-right: 30px;
}

.examples__item:hover .examples__window,
.examples__item:focus .examples__window {
  opacity: 1;
}

.examples__photo {
  display: block;
}

.examples__window {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background-color: #f5f4fa;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .team__list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    margin: 0;
  }
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.team__item {
  max-width: 450px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
    max-height: 536px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
    max-height: 428px;
    margin: 0;
  }
}

.team__photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.team__data {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__name {
  font-weight: 500;
}

.team__text {
  color: #757575;
}

@media screen and (max-width: 768px) {
  .team__text {
    padding-bottom: 0;
  }
}

.team__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 32px 30px 32px;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .team__links {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.team__button:not(:last-child) {
  margin-right: 10px;
}

.team__btnlink {
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__btnlink:hover, .team__btnlink:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients__links {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__icon {
  margin: 15px;
}

.clients__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients__button {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__button {
    width: 170px;
  }
}

.clients__button:hover, .clients__button:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.works {
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .works {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.works__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media screen and (min-width: 768px) {
  .works__filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .works__filters {
    margin-bottom: 50px;
  }
}

.works__btnitem:not(:last-child) {
  margin-right: 8px;
}

.works__btnitem:nth-child(-n + 2) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .works__btnitem:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .works__btnitem:nth-child(3n) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.works__button {
  font-family: inherit;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  -webkit-transition-property: color, background-color, outline, -webkit-box-shadow;
  transition-property: color, background-color, outline, -webkit-box-shadow;
  transition-property: color, background-color, outline, box-shadow;
  transition-property: color, background-color, outline, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works__button:hover, .works__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  outline: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin: -15px;
}

.works__item {
  max-width: 450px;
  height: 100%;
  margin: 15px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .works__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .works__item {
    max-width: 370px;
  }
}

.works__item:hover, .works__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__item:hover .works__text,
.works__item:focus .works__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.works__image {
  display: block;
  width: 100%;
  margin-right: 0;
}

.works__filled {
  position: relative;
  overflow: hidden;
}

.works__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works__border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 0 20px 24px;
}

.works__links {
  text-decoration: none;
  outline: none;
}

.works__image {
  display: block;
}

.works__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-bottom: 4px;
  margin-top: 0;
  margin-bottom: 0;
}

.works__description {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.page-footer__flexbox {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-footer__flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__info {
  display: block;
}

@media screen and (min-width: 768px) {
  .page-footer__info {
    margin-left: 80px;
    padding: 0 0 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__info {
    margin-left: 0;
    padding: 0;
  }
}

.page-footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  width: 154px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .page-footer__logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: start;
    margin-left: 0;
    margin-right: 0;
  }
}

.page-footer__logo .page-footer__logo--accent {
  color: #ffffff;
}

.page-footer__contacts {
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .page-footer__contacts {
    text-align: left;
  }
}

.page-footer__location {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 9px;
}

.page-footer__mail, .page-footer__tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  outline: none;
}

.page-footer__mail {
  margin-bottom: 9px;
}

.page-footer__container {
  display: block;
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__social {
  margin: 0;
  padding: 60px 0 60px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .page-footer__social {
    margin-right: 89px;
    padding: 0 0 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__social {
    margin-left: 80px;
    margin-right: 0;
    padding: 0;
  }
}

.page-footer__join {
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .page-footer__join {
    margin-top: 12px;
    text-align: start;
  }
}

.page-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
}

.page-footer__network:not(:last-child) {
  margin-right: 10px;
}

.page-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__link:hover, .page-footer__link:focus {
  background-color: #2196f3;
}

.page-footer__subscribe {
  margin: 0;
  text-align: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .page-footer__subscribe {
    text-align: left;
    margin-left: 93px;
  }
}

.page-footer__subtitle {
  margin: 0 0 20px 0;
}

@media screen and (min-width: 1200px) {
  .page-footer__subtitle {
    margin-top: 12px;
  }
}

.page-footer__block {
  display: block;
}

@media screen and (min-width: 1200px) {
  .page-footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__input {
  background-color: #2f303a;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.page-footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__button {
  position: relative;
  width: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (min-width: 1200px) {
  .page-footer__button {
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.page-footer__subbutton {
  width: 200px;
  height: 50px;
  margin-left: 0;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 10px 62px 10px 29px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__subbutton {
    margin-left: 12px;
  }
}

.page-footer__svg {
  position: absolute;
  top: 25%;
  right: 0;
  margin-right: 28px;
  cursor: pointer;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__svg {
    right: -6%;
  }
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.page-footer__flexbox {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-footer__flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__info {
  display: block;
}

@media screen and (min-width: 768px) {
  .page-footer__info {
    margin-left: 80px;
    padding: 0 0 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__info {
    margin-left: 0;
    padding: 0;
  }
}

.page-footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  width: 154px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .page-footer__logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: start;
    margin-left: 0;
    margin-right: 0;
  }
}

.page-footer__logo .page-footer__logo--accent {
  color: #ffffff;
}

.page-footer__contacts {
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .page-footer__contacts {
    text-align: left;
  }
}

.page-footer__location {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 9px;
}

.page-footer__mail, .page-footer__tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  outline: none;
}

.page-footer__mail {
  margin-bottom: 9px;
}

.page-footer__container {
  display: block;
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__social {
  margin: 0;
  padding: 60px 0 60px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .page-footer__social {
    margin-right: 89px;
    padding: 0 0 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__social {
    margin-left: 80px;
    margin-right: 0;
    padding: 0;
  }
}

.page-footer__join {
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .page-footer__join {
    margin-top: 12px;
    text-align: start;
  }
}

.page-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
}

.page-footer__network:not(:last-child) {
  margin-right: 10px;
}

.page-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__link:hover, .page-footer__link:focus {
  background-color: #2196f3;
}

.page-footer__subscribe {
  margin: 0;
  text-align: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .page-footer__subscribe {
    text-align: left;
    margin-left: 93px;
  }
}

.page-footer__subtitle {
  margin: 0 0 20px 0;
}

@media screen and (min-width: 1200px) {
  .page-footer__subtitle {
    margin-top: 12px;
  }
}

.page-footer__block {
  display: block;
}

@media screen and (min-width: 1200px) {
  .page-footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__input {
  background-color: #2f303a;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.page-footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__button {
  position: relative;
  width: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (min-width: 1200px) {
  .page-footer__button {
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.page-footer__subbutton {
  width: 200px;
  height: 50px;
  margin-left: 0;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 10px 62px 10px 29px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__subbutton {
    margin-left: 12px;
  }
}

.page-footer__svg {
  position: absolute;
  top: 25%;
  right: 0;
  margin-right: 28px;
  cursor: pointer;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .page-footer__svg {
    right: -6%;
  }
}

.header-mobile {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 48px 40px 48px 40px;
}

@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}

.header-mobile__nav {
  display: block;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.header-mobile__link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile__item:not(:last-child) {
  padding-bottom: 32px;
}

.header-mobile__link:hover, .header-mobile__link:focus {
  color: #2196f3;
  outline: none;
}

.header-mobile__link--current {
  color: #2196f3;
}

.header-mobile__contacts {
  display: block;
  list-style: none;
  margin-bottom: 134px;
  padding-left: 0;
  position: absolute;
  bottom: 0;
}

.header-mobile__item-contact:not(:last-child) {
  padding-bottom: 32px;
}

.header-mobile__mail, .header-mobile__tel {
  display: block;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.header-mobile__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.header-mobile__mail:hover, .header-mobile__mail:focus, .header-mobile__tel:hover, .header-mobile__tel:focus {
  color: #2196f3;
}

.header-mobile__social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 48px 0;
  padding: 0;
  text-decoration: none;
  position: absolute;
  bottom: 0;
}

.header-mobile__sociallink {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-mobile__socialitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-mobile__socialitem:not(:last-child)::after {
  content: '';
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-mobile__button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
  padding: 0;
  fill: #000000;
  background-color: #ffffff;
  border: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile__button:hover, .header-mobile__button:focus {
  fill: #2196f3;
}

.header-mobile--is-open {
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=main.css.map */