.clients {
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    @extend %h2-font;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    justify-content: center;
    margin: -15px;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__icon {
    margin: 15px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: $grey-social-links;

    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__button:hover,
  &__button:focus {
    border: 1px solid #2196f3;
    fill: #2196f3;
  }
}
