.examples {
  display: none;

  @media screen and (min-width: 1200px) {
    width: 1600px;
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    @extend %h2-font;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  &__item {
    display: block;
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item:hover &__window,
  &__item:focus &__window {
    opacity: 1;
  }

  &__photo {
    display: block;
  }

  &__window {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    opacity: 0;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;

    background: rgba(47, 48, 58, 0.8);

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
