.features {
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__item {
    width: 450px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__item:nth-child(-n + 2) {
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      margin-right: 0;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }

  &__item:nth-child(odd) {
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
  }

  &__bgc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 120px;
    background-color: $grey-background;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 30px;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__text {
    color: $grey-color;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
  }
}
