.page-footer {
  background-color: $primary-background;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 480px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1600px;
  }

  &__flexbox {
    display: block;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__info {
    display: block;

    @media screen and (min-width: 768px) {
      margin-left: 80px;
      padding: 0 0 60px 0;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 0;
      padding: 0;
    }
  }

  &__logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    width: 154px;
    margin-left: auto;
    margin-right: auto;

    @extend %logo-font;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
      text-align: start;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__logo &__logo--accent {
    color: $white-color;
  }

  &__contacts {
    font-style: normal;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__location {
    color: $white-color;

    @extend %footer-font-address;

    margin-top: 0;
    margin-bottom: 9px;
  }

  &__mail,
  &__tel {
    display: block;
    color: $rgbawhite-color;

    @extend %footer-font-address;

    text-decoration: none;
    outline: none;
  }

  &__mail {
    margin-bottom: 9px;
  }

  &__container {
    display: block;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__social {
    margin: 0;
    padding: 60px 0 60px 0;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-right: 89px;
      padding: 0 0 60px 0;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 80px;
      margin-right: 0;
      padding: 0;
    }
  }

  &__join {
    @extend %footer-font-title;
    margin: 0;
    @media screen and (min-width: 1200px) {
      margin-top: 12px;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__network:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: $blue-color;
  }

  &__subscribe {
    margin: 0;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: left;
      margin-left: 93px;
    }
  }

  &__subtitle {
    @extend %footer-font-title;
    margin: 0 0 20px 0;

    @media screen and (min-width: 1200px) {
      margin-top: 12px;
    }
  }

  &__block {
    display: block;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__input {
    background-color: $primary-background;
    width: 450px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    color: $white-color;

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }
  }

  &__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__button {
    position: relative;
    width: 200px;
    left: 50%;
    transform: translate(-50%, 0);

    @media screen and (min-width: 1200px) {
      left: 0;
      transform: translate(0, 0);
    }
  }

  &__subbutton {
    width: 200px;
    height: 50px;
    margin-left: 0;
    background: $blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    @extend %button-font;

    cursor: pointer;
    outline: none;
    border: 0;
    padding: 10px 62px 10px 29px;
    letter-spacing: 0.06em;
    color: $white-color;

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }

  &__svg {
    position: absolute;
    top: 25%;
    right: 0;
    margin-right: 28px;

    cursor: pointer;
    fill: $white-color;

    @media screen and (min-width: 1200px) {
      right: -6%;
    }
  }
}
