.team {
  background-color: $grey-background;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    @extend %h2-font;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;

    @media screen and (min-width: 768px) {
      margin: -15px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  &__item {
    width: 450px;
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 536px;
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 428px;
      margin: 0;
    }
  }

  &__photo {
    display: block;
    width: 450px;
    height: 460px;

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }

  &__data {
    padding-top: 30px;
    padding-bottom: 16px;
  }

  &__name {
    font-weight: 500;
    @extend %team-font;
  }

  &__text {
    color: $grey-color;
    @extend %team-font;

    @media screen and (max-width: 768px) {
      padding-bottom: 0;
    }
  }

  &__links {
    display: flex;
    list-style: none;
    margin: 0 32px 30px 32px;
    padding-left: 0;

    @media screen and (max-width: 768px) {
      justify-content: center;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 24px;
    }
  }

  &__button:not(:last-child) {
    margin-right: 10px;
  }

  &__btnlink {
    fill: #afb1b8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btnlink:hover,
  &__btnlink:focus {
    background-color: $blue-color;
    fill: $white-color;
  }
}
