.works {
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 0;
    justify-content: left;

    @media screen and (min-width: 768px) {
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &__btnitem:not(:last-child) {
    margin-right: 8px;
  }

  &__btnitem:nth-child(-n + 2) {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__btnitem:nth-child(3n) {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  &__button {
    font-family: inherit;
    background-color: $grey-background;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;

    padding: 6px 22px 6px 22px;
    cursor: pointer;
    border-radius: 4px;
    border: 0;

    transition-property: color, background-color, outline, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover,
  &__button:focus {
    background-color: $blue-color;
    color: $white-color;
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin: -15px;
  }

  &__item {
    width: 450px;
    height: 404px;
    margin: 15px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__item:hover .works__text,
  &__item:focus .works__text {
    transform: translateY(0);
  }

  // &__item:nth-child(3n) {
  //   margin-right: 0;
  // }

  // &__item:nth-last-child(-n + 3) {
  //   margin-bottom: 0;
  // }

  // &__item:not(:last-child) {
  //   @media screen and (max-width: 767px) {
  //     margin-bottom: 30px;
  //   }
  // }

  &__image {
    display: block;
    width: 450px;
    margin-right: 0;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }

  &__filled {
    position: relative;
    overflow: hidden;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $white-color;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;

    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__border {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 0 20px 24px;
  }

  &__links {
    text-decoration: none;
    outline: none;
  }

  &__image {
    display: block;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-color;
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__description {
    font-size: 16px;
    line-height: 1.88;
    color: $grey-color;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
